.container {
  max-width: var(--width-container);
  padding-left: 20px;
  width: 90%;
  margin: 0 auto;

  &:is(#root > *) {
    padding-top: calc(var(--height-header-desktop) + 20px);
    padding-bottom: var(--page-padding-bottom);
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
